body{
    background-color: grey;
}

#field{
    width: 700px;
    height: 500px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    background-image: url("img/pokemonField.png");
    background-repeat: no-repeat;
    background-size: 700px 500px;
    
}

#playerBox{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: lightgray;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px;
}

.pokemonsInBox{
    border: solid 2px;
    text-align: center;
    
}

.pokemonsInBox:hover{
    background-color: grey;
    cursor: pointer;
}

#pokemonContainer{
    text-align: center;
    padding-top: 30%;
    padding-bottom: auto;
    
}

.buttonContainer{
    text-align: center;
    padding: 5px;
}

#pokemonName{
    font-size: 30px;
}

#pokemonID{
    color: white;
}

#pokemonSprite{
    width: 200px;
    height: 200px;
}

#pokemonInfoBox{
    text-align: center;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid;
    width: 450px;
}

#myPokemonNameInfo{
    font-size: 40px;
}

#myPokemonSpriteInfo{
    width: 300px;
    height: 300px;
}