body{
    background-color: grey;
}

#field{
    width: 700px;
    height: 500px;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    background-image: url("img/pokemonField.png");
    background-repeat: no-repeat;
    background-size: 700px 500px;
    
}

#playerBox{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.pokemonsInBox{
    border: solid 2px;
    text-align: center;
    border-radius: 20px;
    
}

.pokemonsInBox:hover{
    background-color: lightgrey;
    cursor: pointer;
}

#pokemonContainer{
    text-align: center;
    padding-top: 30%;
    padding-bottom: auto;
    
}

.buttonContainer{
    text-align: center;
    padding: 5px;
}

#pokemonName{
    font-size: 30px;
}

#pokemonID{
    color: white;
}

#pokemonSprite{
    width: 200px;
    height: 200px;
}

#pokemonInfoBox{
    text-align: center;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid;
    border-radius: 50px;
    width: 450px;
    background-color: lightgray;
}

#myPokemonNameInfo{
    font-size: 40px;
}

#myPokemonSpriteInfo{
    width: 300px;
    height: 300px;
}

#pokemonTypesBox{
    text-align: center;
    margin-bottom: 10px;
}

.type{
    border: solid 2px;
    border-radius: 15px;
    padding: 2%;
}

#statsContainer{
    border: solid 2px;
    margin: 6%;
    padding: 2%;
    border-radius: 10px;
    background-color: lightgray;
}

.cell-bar{
    width: 100%;
    border: solid 1px;
    border-radius: 10px;

}

.insideBars{
    height: 18px;
    border-radius: 10px;
    background-color: green;
}

#pokedexBox{
    border: solid 2px;
    margin: 6%;
    padding: 2%;
    border-radius: 10px;
}
